{% extends "layout/default.html.twig" %}

{% block title %}Result{% endblock %}

{% block content %}

   {% set data = content|json_decode() %}
   {% set temp = data|current %}
   {% set fields = temp|get_object_vars|array_keys %}

   <table border="1">
      <tr>
         {% for item in fields %}

            <td>{{ item }}</td>

         {% endfor %}
      </tr>
   {% for row in data %}
      <tr>
      {% for item in row|get_object_vars %}

         <td>{{ item }}</td>

      {% endfor %}
      </tr>
   {% endfor %}
   </table>

{% endblock %}
